.skills {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* 3 columns */
    grid-template-rows: repeat(2, auto);
    /* 2 rows */
    gap: 2rem;
    padding: 2rem;
}

.projects {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
    padding: 2rem;
}

.PaS {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.PaS h2 {
    padding: 8px;
    text-decoration: underline;
    background: linear-gradient(90deg, rgba(36, 203, 209, 1) 0%, rgba(87, 199, 133, 1) 48%, rgba(237, 221, 83, 1) 100%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
    font-size: xx-large;
}

@media (max-width:768px) {
    .skills{
        display: flex;
        flex-direction: column;
        
    }
}